<!-- <form class="search-form">
    <mat-form-field class="search-full-width">
      <mat-label>Number</mat-label>
      <input type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            form="mycontrol"
            [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->

  <input id="search-bar" placeholder="Search..." style="width: calc(100% - 25px);"/>