<cdk-virtual-scroll-viewport id="fact-scroll-viewport" itemSize="30" class="fact-scroll-viewport" >
  <div class="masonry">
    <div class="grid" *cdkVirtualFor="let fact of dataSource">
      <img src={{fact.thumbnail}}>
      <div class="grid__body">
        <div class="relative">
          <h1 class="grid__title">{{fact.title}}</h1>
          <p class="grid__author">{{fact.author}}</p>
        </div>
        <div class="mt-auto" >
          <span class="grid__tag">
            🏆
            {{fact.awards}}
          </span>
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>